<div
  class="app__background"
  [ngStyle]="{ 'background-image': 'url(' + background + ')' }"
></div>
<app-header></app-header>
<div class="app__container">
  <section id="home">
    <img [src]="logo" alt="bontitastu-logo" />
    <h1>¡bienvenidos al festival del año!</h1>
  </section>
  <section id="promo">
    <h3>Official Promo</h3>
    <iframe title="bonitas-tu-official-promo" [src]="video"> </iframe>
  </section>
  <section id="where">
    <h3>¿Dónde será?</h3>
    <div class="app__place">
      <img
        src="../assets/chozas-de-canales.jpg"
        alt="chozas-de-canales"
        sizes="700px"
      />
      <div class="app__place-content">
        <div class="app__place-date">{{ date }}</div>
        <div class="app__place-title">Chozas de Canales</div>
        <div class="app__place-separator"></div>
        <a
          href="https://goo.gl/maps/WHd9kDSQnEPFxThJ8"
          class="app__place-link"
          target="_blank"
          rel="noopener noreferrer"
          >¿Cómo llegar?</a
        >
      </div>
    </div>
  </section>
  <section id="social">
    <h3>Nuestras redes</h3>
    <a
      href="https://www.instagram.com/bonitastu/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="../assets/instagram-icon.png"
        alt="instagram-icon"
        height="42"
        width="42"
      />
    </a>
  </section>
  <section id="timetable">
    <h3>Horario</h3>
    <a [href]="schedule" download>
      <img [src]="schedule" alt="horario" class="app__timetable" />
    </a>
  </section>
  <section id="contact">
    <a id="mailto" href="mailto:bonitastufestival@gmail.com"
      ><h3 class="app__contact-text">Contacto</h3></a
    >
    <img
      src="../assets/BecarioyYo.png"
      alt="contacto"
      class="app__contact-image"
    />
  </section>
</div>
